<aside id="skip-link" aria-label="Gå direkt till huvudinnehållet">
    <a class="visually-hidden visually-focusable" href="#main-content">Gå direkt till huvudinnehållet</a>
</aside>
    <header>
        <div class="wrapper flex" style="color:var(--clr-text-c73)">
            <p class="fs-label-small" style="margin-bottom: 1.25rem;">Language: </p>
            <ul class="language-list flex fs-label-small">
                {{ range (sort .AllTranslations ".Language.LanguageName") }}
                    {{ if eq .Language $.Site.Language}}
                        <li class="active-language">{{ .Language.LanguageName }}</li>
                    {{ else }}
                        <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <!-- <div class=""> -->
            <nav class="primary-navigation wrapper flex primary-header" id="primary-navigation" aria-label="Primary">
                {{ if .IsHome }}
                    <span aria-current="page" class="logo current-page">{{ partial "helpers/picture-responsive.html" (dict 
                        "src" "logo-ritkonsult-opt2.svg"
                        "alt" "Ritkonsult"
                    ) }}</span>
                {{ else }}
                    <a href="{{ site.Home.RelPermalink }}" class="logo">{{ partial "helpers/picture-responsive.html" (dict 
                        "src" "logo-ritkonsult-opt2.svg"
                        "alt" "Ritkonsult"
                    ) }}</a>
                {{ end }}
           
                <ul>
                    
            
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main.ByWeight }}
                        {{ if ne .Page.Type "page-content" }}
                        <li>
                            {{ if $currentPage.IsMenuCurrent "main" . }}
                                <span aria-current="page" class="current-page">{{ strings.FirstUpper (i18n .Identifier | default .Name) }}</span>
                            {{ else }}
                                <a href="{{ .URL | relLangURL }}">{{ strings.FirstUpper (i18n .Identifier | default .Name) }}</a>
                            {{ end }}
                        </li>
                        {{  end }}
                    {{ end }}
                </ul>
            </nav>
        <!-- </div> -->
    </header>
{{ if or (ne .CurrentSection .FirstSection) ( .Params.bread ) ( eq .Parent .CurrentSection )}}
    {{- partial "breadcrumbs.html" . -}}
{{ else }}
<div class="breadcrumb">
</div>
{{ end }}