{{ if .Params.cover }}
    {{ $title := .Title }}
    {{ if .Params.hero_title }}
        {{ $title = .Params.hero_title }}
    {{ end }}
    <div class="grid hero-box" style="--min:16rem;">
        <h1 id="main-content" class="fs-hero hero hero-with-image text-center">{{ if .Params.hero_tagline }}<span class="h3 h-tagline">{{- .Params.hero_tagline -}}</span>{{ end }}{{ $title }}</h1>
        <div class="fixed-ratio" style="/*padding-bottom: 100%;*/">
            {{/* {{ $image := resources.Get .Params.cover_image }}
            {{ with $image }}
            <img class="fixed-ratio-content" src="{{ .RelPermalink }}" alt="" loading="eager" height="{{ .Height }}" width="{{ .Width }}">
            {{ end }} */}}
            {{ partial "helpers/picture-responsive.html" (dict 
                "src" .Params.cover_image
                "alt" .Params.cover_alt
                "sizes" "hero"
                "loading" "eager"
            ) }}
        </div>
    </div>
{{ else }}
        <h1 id="main-content"  class="hero">{{ .Title }}</h1>
{{ end }}