{{ define "main" }}
<div class="wrapper flow">
    {{ if .Params.toc }}
    <h1 id="main-content"  class="hero">{{ .Title }}</h1>
            <div class="flow">
                <div class="not-sidebar flow">
                    {{ partial "helpers/picture-responsive.html" (dict 
                        "src" .Params.banner.image
                        "alt" .Params.banner.image_alt
                        "sizes" "(min-width: 861px) 98vw, 98vw"
                    ) }}
                </div>
                <div class="sidebar-sticky">
                    {{ $context := (dict "Page" $ "Listed" . )}}
                    {{- partial "toc-p.html" $context -}}
                </div>
            </div>
            {{ if .Params.tldr }}
            <div class="product-wrapper- flow lead-box">
                <h2>Sammanfattning</h2>
                <p>{{ .Params.tldr | markdownify }}</p>
            </div>
            {{ end }}
            <div class="product-wrapper- flow">
            {{ if .Content }}
                {{ .Content }}
            {{ end }}
            </div>
    {{ else }}
    {{- partial "page-header.html" . -}}

        <img src="{{ .Params.banner.image }}" alt="">

        {{ if .Content }}
            {{ .Content }}
        {{ end }}
    {{ end }}

</div>
    {{- partial "product-kitchen.html" . -}}
{{ end }}