{{ define "main" }}
<div class="wrapper flow">
    {{ if .Params.toc }}
    <h1 id="main-content"  class="hero">{{ .Title }}</h1>
            <div class="flow">
                <div class="not-sidebar flow">
                    {{ partial "helpers/picture-responsive.html" (dict 
                        "src" .Params.banner.image
                        "alt" .Params.banner.image_alt
                        "sizes" "(min-width: 861px) 98vw, 98vw"
                    ) }}
                </div>
                {{ if .Params.tldr }}
                <div class="product-wrapper- flow lead-box">
                    <h2>{{ strings.FirstUpper (i18n "summary") }}</h2>
                    <p>{{ .Params.tldr | markdownify }}</p>
                </div>
                {{ end }}
                <div class="sidebar-sticky">
                    {{ $context := (dict "Page" $ "Listed" . )}}
                    {{- partial "toc-p.html" $context -}}
                </div>
            </div>

            <div class="product-wrapper- flow">
            {{ if .Content }}
                {{ .Content }}
            {{ end }}
            </div>
    {{ else }}
    {{- partial "page-header.html" . -}}
            {{ if or (eq .Params.banner.page_banner true) (eq .Params.banner.page_banner nil) }}
                {{ partial "helpers/picture-responsive.html" (dict 
                    "src" .Params.banner.image
                    "alt" .Params.banner.image_alt
                    "sizes" "(min-width: 861px) 98vw, 98vw"
                ) }}
            {{ end }}

        {{ if .Params.tldr }}
            <div class="product-wrapper- flow lead-box">
                <h2>{{ strings.FirstUpper (i18n "summary") }}</h2>
                <p>{{ .Params.tldr | markdownify }}</p>
            </div>
        {{ end }}

        {{ if .Content }}
            {{ .Content }}
        {{ end }}
    {{ end }}

</div>
    {{- partial "product-kitchen.html" . -}}
{{ end }}