#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Get 2 char language code from URL (default to "en") and assign to LANG env var

    ErrorDocument 404 /404.html
