# BEGIN Redirects to https and non-www
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

# test all subolders from products foto,3d on old ritkonsult.se
# added 2023-06-29
# RewriteRule ^-foto https://ritkonsult.se/produkter/ [R=301,L]
# RewriteRule ^-3D https://ritkonsult.se/produkter/3d/ [R=301,L]
# RewriteRule ^-vektor https://ritkonsult.se/produkter/vektorisering/ [R=301,L]
# RewriteRule ^ramar https://ritkonsult.se/produkter/ramar/ [R=301,L]

# END Redirects

# Get 2 char language code from URL (default to "en") and assign to LANG env var

ErrorDocument 404 /404.html

<If "%{REQUEST_URI} =~ /en\x2F.*/">
    ErrorDocument 404 /en/404.html
</If>

# Rules for old ritkonsult 301 redirects
# added 2023-06-29
# Redirect 301 /index.htm https://ritkonsult.se/
# Redirect 301 /-kontakt/kontakta_oss.htm https://ritkonsult.se/kontakt/
# Redirect 301 /-om/om_oss.htm https://ritkonsult.se/om-oss/
# Redirect 301 /-kunder/kunder.htm https://ritkonsult.se/
# Redirect 301 /-om/blanketter/filer.htm https://ritkonsult.se/blanketter/


# Redirect 301 /utrymningsplan/utrymningsplan.htm https://ritkonsult.se/produkter/utrymningsplan/


# Redirect 301 /-sba/sba.htm https://ritkonsult.se/produkter/kontrollritning/

# Redirect 301 /-orienteringsritning/brandlarmsritning.htm https://ritkonsult.se/produkter/brandlarmsritning/

# Redirect 301 /utrymningsplan/avsokningsplan.htm https://ritkonsult.se/produkter/avsökningsplan/
