{{ define "main" }}

    <div class="wrapper flow">
        <h1 id="main-content"  class="hero">{{ i18n "404_title" }}</h1>
        <p class="h1-tag">404</p>

        <p>{{ i18n "404_paragraph"}}
        </p>
        <ul>
            <li>
                {{ i18n "404_option_01" | safeHTML }}
            </li>
            <li>
                {{- $link := (printf "%s%s" site.Home.RelPermalink (i18n "products")) -}}
                {{ i18n "404_option_02" ( dict "link" $link) | safeHTML }}
            </li>
            <li>
                {{- $link = (printf "%s%s" site.Home.RelPermalink (i18n "guides")) -}}
                {{ i18n "404_option_03" ( dict "link" $link) | safeHTML }}
            </li>
        </ul>
    </div>

{{ end }}