{{ define "main" }}

    <div class="wrapper flow">
        <h1 id="main-content"  class="hero">{{ i18n "404_title" }}</h1>
        <p class="h1-tag">404</p>

        <p>You've landed on a URL that doesn't seem to exist on Ritkonsult.se. Here's some options:
        </p>
        <ul>
            <li>
                If you think this is an error on our part, please email us.
            </li>
            <li>
                If you'd like to just browse, head over to the articles page.
            </li>
            <li>
                Looking for ..
            </li>
        </ul>
    </div>

{{ end }}