:root {
  --ratio: 1.25;
  --scale00: .5rem;
  --scale0: 1rem;
  --scale1: calc(var(--scale0)*var(--ratio));
  --scale2: calc(var(--scale1)*var(--ratio));
  --scale3: calc(var(--scale2)*var(--ratio));
  --scale4: calc(var(--scale3)*var(--ratio));
  --scale5: calc(var(--scale4)*var(--ratio));
  --scale6: calc(var(--scale5)*var(--ratio));

  --border: 0.2em;
  --space: 1.2em;
  --the-line: rgba(0,0,0,0.2) 0 0.1rem;
  --the-line-dark: var(--clr-neutral-900) 0 0.2rem;
  

  --clr-primary-hsl: 70, 100%, 20%;

  --clr-primary-300: hsl(71, 76%, 71%);
  --clr-primary-400: hsl(var(--clr-primary-hsl));
  --clr-primary-500: hsl(70, 100%, 17%);
  --clr-primary-600: hsl(69, 100%, 15%);
  --clr-primary-o5: hsl(var(--clr-primary-hsl) , .05);
  --clr-primary-o8: hsl(var(--clr-primary-hsl) , .08);
  --clr-primary-o11: hsl(var(--clr-primary-hsl) , .11);
  --clr-primary-o14: hsl(var(--clr-primary-hsl) , .14);


  --clr-secondary-400: hsl(224, 63%, 48%);
  --clr-secondary-600: hsl(224, 63%, 48%);

  --clr-selection-hl: hsl(52, 100%, 50%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 95%);
  --clr-neutral-600: hsl(0, 0%, 40%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-orange-sym: hsl(40, 100%, 49%);
  --clr-red-sym: hsl(0, 63%, 37%);
  --clr-green-sym: hsl(151, 57%, 32%);
  --clr-blue-sym: hsl(208, 100%, 30%);

  --clr-insats-lg: rgb(213, 210, 213);
  --clr-insats-g: rgb(153, 153, 153);
  --clr-insats-mg: rgb(172, 173, 175);
  --clr-insats-lb: rgb(232, 223, 187);
  --clr-insats-be: rgb(197, 185, 136);
  --clr-insats-lgu: rgb(239, 251, 0);

  /* fonts */
  --ff-primary: -apple-system, BlinkMacSystemFont, segoe ui, Oxygen, noto sans, Ubuntu, Cantarell, Fira Sans, Droid Sans,  helvetica neue, helvetica, arial, sans-serif; 

  /* avenir next, avenir, 
    Roboto, 
    noto,
  */

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-s-bold: 500;
  --fw-bold: 800;

  --fs-100: .8rem;
  --fs-200: .8rem;
  --fs-300: 0.875rem;
  
  --fs-500: 1.2rem; 
  --fs-600: var(--scale1); 
  --fs-700: 2rem; 
  --fs-800: var(--scale2); 
  --fs-900: 2.375rem; 
  --fs-1000: var(--scale3); 
  --fs-1100: var(--scale4); 
  
  /* --fs-100: .8rem;
  --fs-200: .8rem;
  --fs-300: 0.875rem;

  --fs-500: 1.2rem; 
  --fs-600: 1.4rem; 
  --fs-700: 2rem; 
  --fs-800: 2rem; 
  --fs-900: 2.375rem; 
  --fs-1000: 2.9375rem;  */

  /* --fs-body: var(--fs-400); remove and search for all that uses this */
  --fs-label-small: var(--fs-100);
  --fs-label-medium: var(--fs-200);
  --fs-label-large: var(--fs-300);
  --fs-heading-medium: var(--fs-600);
  --fs-display-large: var(--fs-900);
  --fs-hero: var(--fs-1000);

  /* --ls-300: 0.00625rem; remove */

  --lh-300: 1.25rem;
  --lh-400: 1.6; /*1.625;*/
  --lh-500: 1.35;
  --lh-600: 1.3;
  --lh-900: 1.3;
  --lh-1000: calc(0.82*var(--ratio));
  /* 1.1; */

  font-size: calc(1.06rem + .62vw + .1vh) 
  /* calc(1rem + .65vw)  */
  /* calc(1rem + .75vw)  */
}

@media (min-width:68em) {
  :root {
    font-size: calc(0.86rem + .51vw + .1vh) 
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* custom (instead of min-height) */
html
,body {
  height: 100%;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  /* custom (line-height changed) */
  font-family: var(--ff-body);
  /* font-size: var(--fs-body); */
  line-height: var(--lh-400);
  background-color: #f0f3ef;
  color:#071131;
  /* var(--clr-neutral-200); */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture
,svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------------------------------------- */

p {max-width: 50ch;}

.p { font-size: 1rem; line-height: 1.6; font-weight: initial;}

h1
,.h1
,h2
,.h2
,h3
,.h3 {
  line-height: var(--lh-1000);
  font-weight: 600;
}

h1, .h1 { 
  font-size: var(--fs-1000);
  font-weight: 800;
  hyphens: auto;
}
.h1 {
  margin-top: var(--scale4) !important;
}
h2, .h2 {
  font-size: var(--fs-800);
  hyphens: auto;
}
.h35 {font-size: calc(var(--scale1) + .22rem);}
h3, .h3, .card h2 { font-size: var(--fs-600); hyphens: auto;}
h4, .h4 { font-weight: 600;}

.h-tagline {
  display: block;
  margin-bottom: .5rem;
  font-size: var(--scale1);
  font-weight: var(--fw-regular);
}

strong { font-weight: 600;}

ul, ol { margin-left: 1.6ch;}
ul li, ol li { margin-top: var(--scale00); max-width: 50ch;}

.clean-list
,body > header ul
,body > footer ul
,body > header ol
,body > footer ol { list-style: none; margin-left: 0;}

body > header ul li {margin-top: 0;}

.number-list li { 
  list-style: decimal;
  margin-top: 1.2rem;
  margin-inline-start: 1.2rem;
}

.number-list li:first-child { margin-top: 0;}

.image-box img{ max-width: 100% !important; background-color: #fff;}
figcaption {margin-top: .6rem;}
.image-box img + img {margin-top: .4rem;}

blockquote {
  quotes: """ """ "‘" "’";
  position: relative;
  background-color:hsl(72.5, 26.1%, 82%);
  color:#121502;
  /* hsl(72.5, 26.1%, 82%); */
  /* color: var(--clr-neutral-100); */
  border-radius: .5rem !important;
}

blockquote::after {
  content: '';
  position: absolute;
  bottom: -.95rem;
  left: 2rem;
  width: 4rem;
  height: 1rem;
  background-color: hsl(72.5, 26.1%, 82%);;
  /* hsl(72.5, 26.1%, 82%); */
  /* rgb(194, 194, 194); */
  -webkit-mask: url(/images/speechbubble2.svg) center top/contain no-repeat;
  mask: url(/images/speechbubble2.svg) center top/contain no-repeat;
}

blockquote p::before {
  content: open-quote;
}
blockquote p::after {
  content: close-quote;
}

figure > figcaption > cite {
  display: inline-block;
}

button {
  background-color: var(--clr-neutral-100);
  border-radius: 1.25em;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; */
  /* box-shadow: rgb(0, 0, 0) 6px 6px 0px 0px; */
  outline: 2px solid --clr-neutral-900;
  position: relative;
  height: 2.5em;
  padding: 0 1.5em 0 1.5em;
  border: none;
}

.icon { 
  display: inline; /* inherit */
  /* margin-bottom: -.15em; */
  vertical-align: middle;
  padding-inline-end: .15em;
  min-width: 1.1rem;
}

/* Utility classes */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.flex { display: flex;}
.inline-flex { display: inline-flex; }
.inline-block { display: inline-block;}
.center-margin { margin-inline: auto;}
.right-margin { margin-inline-start: auto;}
.left-margin { margin-inline-end: auto;}

.center-margin-child {
  /* test */

}

.center-margin-child  > * {
  margin-inline: auto;
}
.center-margin-child > .h1 {
  text-align: center;
}
.left-margin-child  > * {
  margin-inline-end: auto;
}
.left-margin-child > h2 {
  text-align: left;
}
.right-margin-child {
  margin-inline-start: auto;
}
.right-margin-child {
  max-width: 50ch;
}

.grid
,.card-grid > ul { 
  --min: 14rem;
  display: grid;
  gap: var(--space);
  grid-template-columns: 100%;
}

@supports (width: min(var(--min), 100%)) {
  .grid
  ,.card-grid > ul {
    grid-template-columns: repeat(auto-fill, minmax(min(var(--min,14rem),100%), 1fr));
  }
}

/* below  h1: 4.2 h2:1.4 h3: h4: 1 */
/* defualt */
/* * { outline: 1px solid rgb(223, 13, 13);} */

.flow > * + *
,.flow > .h1 + p { margin-top: var(--scale3); } 

.flow > .wrapper + .wrapper
,.flow > h1 + *
,.flow > .h1-tag + *  { margin-top: var(--scale4);}

.flow > p + p
,.flow > .contact + p
,.flow > p + figure
,.card .flow > * + *   {margin-top: var(--scale1);}

.flow > h2 + p
,.card .flow > * + h4
,.card .flow > * + h3 { margin-top: var(--scale1);}

blockquote + figcaption
,.flow > figure + figure {margin-top: var(--scale2);}

.flow > .alternate-column + .alternate-column {
  margin-top: var(--scale5);
}

.flow > .ignore-flow + * {
  margin-top: 0;
}

/* .flow > * + *
,.flow > .h1 + p { margin-top: var(--gap,4.2rem); } 
.flow > * + h4 { margin-top: 2.8rem;}
.flow > h1 + *
,.flow > .h1-tag + * {margin-top: 4.8em}
.flow > p + p
,.flow > .contact + p
,.card .flow > * + *   {margin-top: 1.4em}
.flow > h2 + p
,.card .flow > * + h4
,.card .flow > * + h3 { margin-top: 2.8rem;} */


/* section {
  margin-bottom: 2rem;
} */

.hide {
  display: none;
}

.banner {
  height: 100%;
  padding: var(--scale1); /*2em*/
  border-left: 0.5em solid var(--clr-neutral-900);
  border-radius: 0.25rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}

.banner h2 {
  font-size: 1.75em;
  font-weight: 600;
  align-self: center;
}

.banner-content {
  display: grid;
  align-items: center;
}

.h1-tag { margin-top: 0 !important;}

.hero { 
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-block: auto;
  overflow: auto;
  --page-bg: var(--clr-neutral-200);
  --page-bg-rgb: 102,102,102;
  --text-color-rgb: 0,0,0;
  background: linear-gradient(to right, var(--page-bg) 30%, rgba(var(--page-bg-rgb), 0)), linear-gradient(to right, rgba(var(--page-bg-rgb), 0), var(--page-bg) 70%) 0 100%, radial-gradient( farthest-side at 0% 50%, rgba(var(--text-color-rgb), 0.5), rgba(var(--text-color-rgb), 0) ), radial-gradient( farthest-side at 100% 50%, rgba(var(--text-color-rgb), 0.5), rgba(var(--text-color-rgb), 0) ) 0 100%;
  background-repeat: no-repeat;
  background-color: var(--page-bg);
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
  font-size: var(--fs-1100);
 }

 .hero-with-image {
  margin-inline: auto;
  max-width: 18ch;
 }

 .hero-box {
  /* max-width: 87ch;
  margin-inline: auto; */
  padding: .6rem;
  /* padding-bottom: 4.8rem */
 }

 

 .pzero {
  padding-bottom: 0
 }

 .detail-card {
  background-color: ;
  border: 1px solid ;
  border-left: .2rem solid blue;
  padding: 1.2rem 1.2rem 1.2rem 2.4rem;
 }

.squiggle { 
  margin-top: 6.5rem;
  opacity: .2;
 }

.section-header {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.wrapper {
  --max-width: 89ch; /* 77ch 90rem*/
  --side-padding: 1.25em; /*.75rem;*/
  --side-gap: 1.5rem;

  /* width: min(var(--max-width) - (var(--side-gap)*2), 100% - (var(--side-padding)*2) - (var(--side-gap)*2)); */
  width: min(var(--max-width), 100% - (var(--side-padding)*2));
  margin-inline: auto;
}

.wrapper-test {
  --bgcolor: transparent;
  background-color: var(--bgcolor);
  padding: var(--scale5) 0;
}

.container {
  --max-width: 87ch; 
  --side-padding: 1.25em; 
  --side-gap: 1.5rem;

  width: min(var(--max-width), 100% - (var(--side-padding)*2));
  margin-inline: auto;
}

.product-wrapper {
  max-width: 53ch;
  margin-inline: auto;
}

.content-wrapper {
  display: grid;
  gap: 0.5em;
  row-gap: 6.5rem;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.contact {
  margin-top: var(--scale0) !important;
  margin-left: 0;
  padding-left: .6rem;
  border-left: .2rem solid var(--clr-neutral-900);
  list-style: none;
}

.contact a {
  box-shadow: none !important;
}

.box {
  grid-column: span 1;
}

.box > * {
  margin-bottom: 1.5rem;
}

.content-box {
  display: grid;
  gap: 0.5em;
  /* margin: 1.5rem; */
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.even-columns {
  display: grid;
  gap: 1.5rem;
}

.grid-table-content {
  display: grid;
  grid-template-areas: 
  'table-of-contents'
  'content';
  align-items: start;
  grid-template-columns: 1fr;
  gap: 1em;
}

.grid-table-content > .table-of-contents {
  grid-area: 'table-of-contents';
  position: static;
  /* height: fit-content; */
}

.content {
  grid-area: 'content';
}

.content > p {
  max-width: 45ch;
}

.span-small {
  grid-column: span 2;
}

.span-medium {
  grid-column: span 3;
}

.span-large {
  grid-column: span ;
}

.span-3 {
  grid-column: span 3 !important;
}

.span-4 {
  grid-column: span 4;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .content-wrapper {
    grid-template-columns: repeat(6,1fr);
  }

  .box {
    grid-column: span 3;
  }

  .grid-table-content {
    grid-template-areas: 'table-of-contents content';
    grid-template-columns: .45fr 1fr;
  }

  .grid-table-content > .table-of-contents {
    position: sticky;
    top: 44px;
  }
}

/* move print to bottom */
@media print {
  @page{
    margin: .7cm;
  }

  :root {
    font-size: 12pt;
    --ratio: 1.05;
    /* --fs-500: 1.1rem;
    --fs-600: 1.1rem;
    --fs-700: 1.2rem;
    --fs-800: 1.2rem;
    --fs-900: 1.25rem;
    --fs-1000: 1.25rem; */
    --gap:1.4rem;
  }

  .flow > h1 + * {margin-top: 1.4rem;}

  h1, h2, h3, h4 { break-after: avoid;}
  h2 {font-size: 1rem;}
  table, figure { break-inside: avoid;}

  p { max-width: none !important;}

/* figure img { display: inline-block;} */
  img, .image-box {
    display: inline-block;
    break-inside: avoid;

    /* max-width: 7cm; */
    /* max-width: 45ch; */
  }

  li {
    break-inside: avoid;
  }

  body > header
  ,.table-of-contents
  ,.breadcrumb
  ,body > footer
  ,.footer-div
  ,.article-navigation
  ,.hide-on-print {
    display: none !important;
  }

  .wrapper { --max-width: 100%; --side-padding:0; column-count: 2; column-gap: .45cm; */ /*column-fill: auto;*/ orphans: 2;}
  .print {}
  .full-page-print {break-before: page; break-after: page; }
  /* .full-page-print h1 {break-before: page; } */

  .sym-table > * {
    display: flex;
    padding: .1rem 0;
    border-bottom: 1px solid;
    break-inside: avoid;
  }
  .sym-table > * > :first-child {
    min-width: 2rem;
  }
  .sym-table > * > :nth-child(2) {
    min-width: 3rem;
  }
  .sym-table > * > :nth-child(2) img {
    min-width: 1.5rem;
  }
  .sym-table > * > div {
    display: flex;
    align-items: center;
    padding: 0 .4rem 0 .4rem;
  }
  
  /* .wrapper .full-page-print + .print h1 {break-before: left;} */
  /* article  {break-after:column; display: block;} */
  


  .grid { --min: 10rem;}
  .symbol-card-image-box {padding: 0 !important;}
  .symbol-card-image-box img {width: 23% !important;}
  .symbol-card-box .card-content-box {margin: 0 !important;}

}

.bg-primary { background-color: var(--clr-primary-400) !important; }
.bg-primary-5 { background-color: var(--clr-primary-o5) !important; }
.bg-primary-8 { background-color: var(--clr-primary-o8) !important; }
.bg-primary-11 { background-color: var(--clr-primary-o11) !important; }
.bg-primary-14 { background-color: var(--clr-primary-o14) !important; }
.bg-primary-container { background-color: ; }

.bg-secondary { background-color: ; }
.bg-secondary-container { background-color: ; }

.bg-error { background-color: ; }
.bg-error-container { background-color: ; }

.bg-background { background-color: ; }
.bg-surface { background-color: ; }

.bg-symbol-white { background-color: var(--clr-neutral-100); color: var(--clr-neutral-900); --link-color: var(--clr-neutral-900)}
.bg-symbol-black { background-color: var(--clr-neutral-900); color: var(--clr-neutral-100); --link-color: var(--clr-neutral-900)}
.bg-symbol-yellow { background-color: var(--clr-selection-hl); color: var(--clr-neutral-900); --link-color: var(--clr-neutral-900)}
.bg-symbol-orange { background-color: var(--clr-orange-sym); color: var(--clr-neutral-900); --link-color: var(--clr-neutral-900)}
.bg-symbol-red { background-color: var(--clr-red-sym); color: var(--clr-neutral-100); --link-color: var(--clr-neutral-100)}
.bg-symbol-green { background-color: var(--clr-green-sym); color: var(--clr-neutral-100); --link-color: var(--clr-neutral-100)}
.bg-symbol-blue { background-color: var(--clr-blue-sym); color: var(--clr-neutral-100); --link-color: var(--clr-neutral-100)}

.bg-green-gradient {
  background-color: var(--clr-primary-400);
  background-image: linear-gradient(to right,var(--clr-primary-500), var(--clr-primary-600)) ;
}

/* -- */

.fc-on-primary { color: var(--clr-neutral-100) !important; }
.fc-on-primary-container { color: ; }

.fc-on-secondary { color: ; }
.fc-on-secondary-container { color: ; }

.fc-on-error { color: ; }
.fc-on-error-container { color: ; }

.fc-on-background { color: ; }
.fc-on-surface { color: ; }


.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-s-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-grad-100 {
  font-variation-settings: 'GRAD' 100;
}

.fw-grad--25 {
  font-variation-settings: 'GRAD' -25;
}

.fs-hero {
  font-size: var(--fs-1100);
  letter-spacing: 0rem;
  line-height: var(--lh-1000);
  font-weight: 800;
}

.fs-display-large {
  font-size: var(--fs-900);
  letter-spacing: 0rem;
  line-height: var(--lh-900);
}

.fs-heading-medium {
  font-size: var(--fs-600);
  letter-spacing: 0rem;
  line-height: var(--lh-600);
}

.fs-heading-small {
  font-size: var(--fs-500);
  letter-spacing: 0rem;
  line-height: var(--lh-500);
}

.fs-label-small {
  font-size: var(--fs-100);
  /* letter-spacing: var(--ls-300); remove */
  line-height: var(--lh-300);
}

.uppercase { text-transform: uppercase; }

.no-underline { text-decoration: none; }

.ch-45 { max-width: 45ch;}
.ch-30 { max-width: 30ch; }

/* links */

:target {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--clr-neutral-900);
  scroll-margin-top: 1em;
}

@media screen and (prefers-reduced-motion: no-preference) {
  :target {
    outline-width: 0px;
    animation: 1s ease-out 0s var(--animation-loop, 1) normal none running Target;
  }
}

  @keyframes Target {
    0% {
      outline-offset: -4px;
      outline-color: var(--clr-secondary-400) ;
      outline-width: 1px;
      z-index: 999;
    }

    100% {
      outline-offset: .5em;
      outline-color: transparent ;
      outline-width: 1em;
      z-index: 999;
    }
  }

a { 
  /* color: var(--clr-secondary-400); */
  color: var(--link-color, var(--clr-secondary-400));
  /* text-decoration: underline max(1px, 0.0625rem); */
  text-underline-offset: 0.1em;
}

a:hover {
  /* color: var(--clr-secondary-600); */
  color: var(--link-color, var(--clr-secondary-600));
  /* text-decoration-thickness: max(3px,0.1875rem); */
  text-decoration-thickness: 0.2em;
}

a:focus
, a:focus-visible {
  background-color: var(--clr-selection-hl) !important;
  color: black !important;
  text-decoration: none;
  outline-color: transparent !important;
  box-shadow: var(--clr-selection-hl) 0 -2px, black 0 0.1875em;
}

a:focus-visible {
  box-shadow: none;
  outline: 1px solid black;
}

/* breadcrumbs */
.breadcrumb { height: 4.8rem; }

.box-sizing-content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow-x: auto; /* scroll */
  overflow-y: hidden;
}

.breadcrumb-list { 
  display: flex;
  padding: 1.25em 0;

}

.breadcrumb-item {
  flex-shrink: 0;
}

.breadcrumb-item a { color: inherit;}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
}

@media print {
  .breadcrumb-list {
    display: none;
  }
}

.footer-email-banner {
  --space:1.2rem;
  max-width: 100%;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  padding-bottom: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 .2rem;
}

@media (min-width: 56em) {
  .arrow {display: flex;}
  .arrow::before {
    content: '';
    order: 3;
    border: solid black;
    border-width: 0 .25ex .25ex 0;
    display: inline-block;
    padding: .175em;
    border-color:  var(--clr-neutral-900);
    margin: auto auto auto -.5em;
    transform: translateX(-3px) rotate(-45deg);
  }
  
  /* .primary-header-wrapper .logo:hover::before {
    border-color:  var(--clr-neutral-900);
    margin: auto auto auto 0.6em;
  } */
  
  .arrow::after {
    content: '';
    flex: 1 1 0%;
    order: 2;
    border-bottom: .25ex solid var(--clr-neutral-900);
    margin: auto .1em auto 1.2rem;
    padding-right: 4.8rem;
  }
  
  /* .primary-header-wrapper .logo:hover::after {
    border-bottom: .5ex solid var(--clr-selection-hl);
    margin: auto auto auto -.35em;
  } */
}


.insats-colors div img {
  width: 100%;
  height: var(--scale4);
}

.insats-colors p{
  padding: var(--scale00);
  background-color: var(--clr-neutral-100);
}

.lead-box {
  box-shadow: var(--the-line);
  padding-bottom: var(--scale0);
}

/* cards */

.card-wrapper {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}


.card {
  --gradient:none;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.1875em;
  /* background-color: #ecebeb; */
  background-image: var(--gradient);
  list-style: none;
}

.card-flat {
  --gradient:none;
  max-width: 100%;
  margin-top: 0;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  /* background-image: var(--gradient); */
  list-style: none;
}

.card-link { box-shadow: var(--the-line-dark);}

.card-gradient {
  --gradient: linear-gradient(#e8d8d800 0 67%, #dfdfdf99);
}

/* move to correct spot */
.footer-div {
  background: rgb(148,50,33);
  background: linear-gradient(137deg, rgba(148,50,33,1) 15%, rgba(58,96,210,1) 25%, rgba(58,96,210,1) 68%, rgba(157,171,95,1) 78%); 
  height: .2rem; 
  margin-top: 6rem;
}
body > footer { 
  /* margin: 6rem 0 0;  */
  padding: 4.8rem 0 6rem;
  background-color: var(--clr-neutral-100);
}
body > footer > :first-child { padding-top: 2.4rem; box-shadow: rgba(0, 0, 0, 0.2) 0 -0.1875em;}
.end-footer > * {
  margin-top: 1rem;
}

/* .end-footer .logo { padding: 1em 0;} */

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap,2rem);
}

.switcher > * {
  --basis: 60ch; /*45*/
  flex-grow: 1;
  flex-basis: calc((var(--basis) - 100%) * 999);
    /* test */
    max-width: 50ch;
    margin-inline: auto;
}

.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 70vh;
  padding: 1rem;
}

.cover > * {
  margin-block: 1rem;
  /* margin-inline: auto; */
}

.cover > :first-child:not(h1) {
  margin-block-start: 0;
}

.cover > :last-child:not(h1) {
  margin-block-end: 0;
}

.cover > h1 {
  margin-block: auto;
}

/* .fixed-ratio {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
}

.fixed-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
} */

.fixed-ratio {
  display: block;
  position: relative;
  overflow: hidden;
}

.fixed-ratio-content {
  width: 100%;
  height: auto;
  max-width: inherit;
}


.grid-cover {
  min-block-size: 0;
  margin-block: auto;
  text-align: center;
}

.grid-cover > * {
  margin-block: auto;
}

.table-of-contents ol li {
  margin-bottom: .55em;
  /* line-height: var(--lh-1000); */
  list-style: disc;
}

.table-of-contents ol li a {
  /* display: inline-block; */
  padding: .25em 0;
}

.product-toc ol {
  --min:7.5rem;
  --space:.2rem;
  margin: 0;
}

.product-toc ol li {
  margin: 0;
  list-style: none;
  min-height: var(--scale6);
}

.product-toc ol li a {
  padding: var(--scale00);
  display: flex;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  height: 100%;
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-o14);
  overflow: hidden;
}

/* .article-navigation {
  --justify-pos: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-pos, start) ;
} */

.article-navigation > * {
  flex-basis: calc((35em - 100%) * 999);
  flex-grow: 1;
  max-width: 100%;
}

.article-navigation > *:last-child {
  margin-top: 2em;
  /* text-align: center; */
  flex-basis: 100%;
}
/* --- */

nav .card {
  background-color: var(--clr-neutral-100);
  border-radius: 0;
  box-shadow: var(--the-line-dark)
}

nav .card a {
  /* color: var(--clr-neutral-900); */
  text-decoration: none;
  height: 100%;
}

nav .card a:hover {
  outline: 2px solid var(--clr-neutral-900);
}

nav .card a span { display: block;}

nav .card a span span:last-child {
  text-decoration: underline;
  display: block;

}

nav .card a span span:first-child {
  text-decoration: none;
  font-weight: bold;
  display: block;
  /* font-size: var(--fs-label-small); */
}

.card a {
  width: 100%;
  height: 100%;
  outline: 2px solid transparent;
  border-radius: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.3125rem 0.3125rem;
  transition: outline-offset 0.2s ease-in-out 0s;
  color: var(--link-color, var(--clr-secondary-400))
}

.card > a:hover {
  outline-offset: -4px;
  outline: 2px solid var(--link-color, var(--clr-neutral-100));
}

.card-content-box {
  /* display: grid; */
 /* gap: var(--card-gap,2em); /* .5em */
  margin: var(--scale2) var(--scale1) ;/* var(--card-gap,2em) 1em;  1 1 */
  /* width: 100%; */
}

.card-link-list .card-content-box {
  /* color: var(--clr-neutral-100); */
  text-align: center;
}

.min-switch {
  --min:15rem;
}

.product-small-image {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 68em) {
  .min-switch {
    --min:16rem;
  }
}

.the-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--size,14rem),100%), 1fr));
}

.alternate-column {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.alternate-column:nth-child(2n+2) {
  flex-direction: row-reverse;
}
/* li:nth-child(2n+1) a {
  flex-direction: row-reverse;
} */

.alternate-column .image {
  display: grid;
  align-items: center;
}

.alternate-column-body {
  flex-grow: 999;
  flex-basis: ;
}

.products li {
  margin-bottom: var(--scale5); 
  padding-bottom: var(--scale3);
  box-shadow: var(--the-line);
  max-width: 100%;
}

.products li a div p { text-decoration: none !important; display: inline-block; color: var(--clr-neutral-900);}

.centering {
  max-width: 50ch;
  margin-inline: auto;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1.2rem);
  justify-content: flex-start;
  align-items: flex-start;
}
.text-cloud {
  list-style: none;
  margin-left: 0;
}
.text-cloud > * {
  padding: .15em .4em;
  background-color: rgb(234, 231, 231);
  color: #000;
  border-radius: .4em;
  margin-top: 0;
}

.text-center { text-align: center;}

.symbol-card {
  box-shadow: none;
}

.symbol-card h2 {
  font-size: 1.25rem;
  font-weight: var(--fw-regular);
}

.symbol-card-box .card-content-box {
  gap: 0;
  margin: .5em;
}

.symbol-card-box h3{
  font-weight: var(--fw-s-bold);
}

.symbol-card-box img{
  overflow: hidden;
  /* border-radius: inherit; */
  padding: 0;
  /* test */
  margin: auto;
  width: 40%; /* 45 */

}

.symbol-card-image-box {
  overflow: hidden;
  background-color: var(--clr-neutral-100);
  /* width: 100%; */
  aspect-ratio: 1 / .5;
  display: flex;
  /* padding: 1.2rem; borta test text box align instead flex*/
  /* justify-content: center; ..*/
  /* align-items: center; ..*/
}

@media (min-width: 40.625em) {
  /* .symbol-card-box {
    grid-template-columns: 1fr 1fr;
  } */
}

@media (min-width: 50em) {
  /* .card-wrapper {
    grid-template-columns: 1fr 1fr;
  } */

  /* .card {
    grid-column: span 1;
  } */
}

@media (min-width: 56.5em) {
  /* .card-wrapper {
    grid-template-columns: repeat(6,1fr);
  } */

  /* .card {
    grid-column: span 3;
  } */
}

@media print {
  .card-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    box-shadow:none;
  }
}

/* @media (max-width: 50em) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column: span 1;
  }
} */

/* @media (max-width: 57em) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    grid-column: span 1;
  }
} */


/* buttons */

/* test */
.btn-test {
  /* cursor: pointer; */
  background-color: var(--clr-neutral-900);
  border-radius: 1.25em;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; 
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2 , 1) 0s;

  height: 2.5em;
  padding: 0 1.5em 0 1.5em;
  border: none;
  color: white;
}

.btn-test::after {
  content: '';
  position: absolute;
  z-index: -1;
  /* left: 0; */
  right: 0;
  /* top: 0; */
  bottom: 0;
  border-radius: 1.25em;
  background-color: white;
  outline: 2px solid black;


  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
}

.btn-test:hover::after{
  transform: translate(-4px,-4px);
}

/* test end */


.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  /* left: 0; */
  right: 0;
  /* top: 0; */
  bottom: 0;
  border-radius: 1.25em;
  background-color: black;
  /* box-shadow: rgb(0, 0, 0) 6px 6px 0px 0px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; 
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2 , 1) 0s;

  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
}

.btn:hover::after{
  transform: translate(4px,4px);
}

.btn:hover {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px; */
  /* background-color: var(--clr-selection-hl);
  color: black; */
}

.btn-secondary {
  background-color: var(--clr-secondary-400);
  color: aliceblue;
}

.outline {
  background-color: var(--clr-neutral-100);
  /* outline: 3px solid black; 
  outline-offset: -1px; */ /*for safari*/
  position: relative;
}

.outline::before { /*for safari*/
  content: "";
  position: absolute;
  border: 3px solid black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25em;
}

/* .outline:hover {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; 
} */

.btn-small {
  padding: .2em .75em;
  font-size: var(--fs-100);
}

/* primary header */

.primary-header {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: .75em;

  box-shadow: var(--the-line);  
}

.logo img {
  height: 1.1em;
  width: 6.45em; /* becuase of svg height width on img tag */
  margin-bottom: -0.1em;
  display: inline;
}

.logo {
  /* box-shadow: var(--clr-neutral-200) 0 1px, var(--clr-neutral-900) 0 2px; */
  /* box-shadow: var(--clr-neutral-900) 0 0.1875em; */
  padding: .3em .8em;
  position: relative;
  display: inline-block;
}

.logo::after {
  content: '';
  position: absolute;
  bottom: .6em;
  left: .8em;
  right: .8em;
  height: 0.0525em;
  box-shadow: var(--clr-neutral-900) 0 0.0525em;
}

[aria-current="page"].logo::after
, a:hover.logo::after {
  box-shadow: transparent 0 1px;
}

.language-list {
  gap: .5em;
  margin-left: .5em;
  margin-bottom: 1.25rem;
}

/* menu - navigation */

#primary-navigation:target {
  transform: translateX(0);
}

.primary-navigation {
  position: relative;
}


.primary-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* list-style: none; */
  gap: max(0em, .5rem - .7vw);
}

.primary-navigation ul li {
  flex-basis: 1em;
  flex-grow: 1;
  text-align: center;
}

.primary-navigation a
,.primary-navigation span {
  position: relative;
  transition: outline-offset 0.2s ease-in-out 0s, background-size .1s ease-in,color .1s ease-in;
  padding: .3em .8em;
  display: inline-block;
  color: var(--clr-neutral-900);
  background-image: linear-gradient(120deg,var(--clr-primary-o14),var(--clr-primary-o11));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0em;
}

.primary-navigation a:hover {
  text-decoration: none;
  outline: 2px solid;
  outline-offset: -3px;
  box-shadow: var(--the-line-dark);
}

.primary-header [aria-current="page"] {
  box-shadow: var(--the-line-dark);
  background-color: hsl(72, 19.2%, 89.8%);
}

/* .primary-navigation a:hover::after
,.primary-navigation .current-page::after
,.logo:hover::after   {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: var(--clr-neutral-900) 0 0.1875em;
} */

.mobile-nav-toggle {
  display: none;
}

/* @media (min-width: 43.75em) {

  .primary-header-wrapper {
    justify-content: space-between;
  }
} */

@media (min-width: 50em) {

  /* .primary-header-wrapper {
    justify-content: space-between;
  } */
}

@media (max-width: 50em) {
  /* .primary-navigation {
    transform: translateX(100%);
    transition: transform 0.2s ease;

    position: fixed;
    background-color: #ccc;
    top: 6rem ;
    left: 0;
    right: 0;
    bottom: auto;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: .5rem;
  }
  
  .mobile-nav-toggle .hamburger-open {
  
  }
  
  .mobile-nav-toggle .hamburger-close {
    display: none;
  } */
}





/* hamburger */
  /* top right 134 */
  /* middle left 30 */
  /* middle right 30 */
  /* top left 134 */
  /* bottom right 134 */
  /* bottom left 134 */

.line {
  fill: none;
  stroke: black;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2 , 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2 , 1);
}

.line1 {
  stroke-dasharray: 30 134;
  stroke-dashoffset: 0;
}

.line2 {
  stroke-dasharray: 30 30;
  stroke-dashoffset: 0;
}

.line3 {
  stroke-dasharray: 30 30;
  stroke-dashoffset: 0;
}

.line4 {
  stroke-dasharray: 30 134;
  stroke-dashoffset: 0;
}

.line5 {
  stroke-dasharray: 30 134;
  stroke-dashoffset: 0;
}

.line6 {
  stroke-dasharray: 30 134;
  stroke-dashoffset: 0;
}

/* x icon */
.mobile-nav-toggle[aria-expanded=true] .line1
,.mobile-nav-toggle[aria-expanded=true] .line4
,.mobile-nav-toggle[aria-expanded=true] .line5
,.mobile-nav-toggle[aria-expanded=true] .line6 {
  stroke-dasharray: 60 134;
  stroke-dashoffset: -96;
}

.mobile-nav-toggle[aria-expanded=true] .line2
,.mobile-nav-toggle[aria-expanded=true] .line3 {
  stroke-dasharray: 1 30;
  stroke-dashoffset: 1;
}

/* footer */

.with-sidebar
,.with-sidebar_right {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;
}

.with-sidebar > :first-child
,.with-sidebar_right > :last-child  {
  flex-basis: 23ch;
  flex-grow: 1;
}

.with-sidebar > :last-child
,.with-sidebar_right > :first-child  {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.sidebar-sticky {
  position: static;
  align-self: flex-start;
  top: 0;
}

@media (min-width: 40.8125em) { /*39.0625em*/
  .sidebar-sticky {
   /* position: -webkit-sticky; /* for Safari */
    /* position: sticky; */
  }
}

.site-nav {
  flex-wrap: wrap;
  gap: 1em;
}

.site-nav > * {
  flex-grow: 1;
  flex-basis: calc((.75em - 100%) * 999);
}

/* form design */
/* input[type=text]  */
input, textarea, select {
  padding: 1rem;
  border: 1px solid #333;
  border-radius: .25rem;
  box-shadow: none;
  transition: border 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

input {
  height: 3.5rem;
  /* accent-color: var(--clr-primary-400); */
}

input[type=radio]
,input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
}

input:focus
,textarea:focus
,select:focus {
  box-shadow: inset 3px 0 #333, inset -3px 0 #333, inset 0 -3px #333, inset 0 3px #333, 2px 0 var(--clr-selection-hl), -2px 0 var(--clr-selection-hl), 0 2px var(--clr-selection-hl), 0 -2px var(--clr-selection-hl);
  outline: 1px solid transparent;
}

input:hover
,textarea:hover
,select:hover {
  /* box-shadow: inset 1px 0 #333, inset -1px 0 #333, inset 0 -1px #333, inset 0 1px #333, 3px 0 lightgrey, -3px 0 lightgrey, 0 3px lightgrey, 0 -3px lightgrey; */
  box-shadow: inset 3px 0 lightgray, inset -3px 0 lightgray, inset 0 -3px lightgray, inset 0 3px lightgray, 2px 0 var(--clr-selection-hl), -2px 0 var(--clr-selection-hl), 0 2px var(--clr-selection-hl), 0 -2px var(--clr-selection-hl),
  inset 1px 0 #333, inset -1px 0 #333, inset 0 -1px #333, inset 0 1px #333;

  outline: 1px solid transparent;
}

input:focus:hover
,textarea:focus:hover
,select:focus:hover {
  box-shadow: inset 3px 0 #333, inset -3px 0 #333, inset 0 -3px #333, inset 0 3px #333, 2px 0 var(--clr-selection-hl), -2px 0 var(--clr-selection-hl), 0 2px var(--clr-selection-hl), 0 -2px var(--clr-selection-hl);
  outline: 1px solid transparent;
}

.custom-radio-item {
  position: relative;
  display: block;
  padding-left: 33px;
}

.custom-radio-input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: var(--fs-body);
  height: var(--fs-body);
  margin: 0;
  opacity: 0;
}

.custom-radio-label {
  cursor: pointer;
  touch-action: manipulation;
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 18px 5px;
}

.custom-radio-label::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: var(--fs-body);
  height: var(--fs-body);
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: transparent;
}

.custom-radio-input:focus + .custom-radio-label::before {
  border-width: 4px;
  outline: 2px solid transparent;
  outline-offset: 1px;
  box-shadow: 0 0 0 4px var(--clr-selection-hl);
}

.custom-radio-label::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid currentColor;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0;
}

.custom-radio-input:checked + .custom-radio-label::after {
  opacity: 1;
}

/* table design */
.table-wrapper {
  border: 1px solid var(--clr-primary-400);
  border-radius: 1.5rem;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
}

table .link {
  padding: 0;
}

table a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
}

thead th {
  background-color: #c3c3c3;
  border-top: 0;
  text-align: center;
  font-weight: var(--fw-s-bold);
}

tr:nth-child(even) { background-color: var(--clr-primary-o5); }

th
,td { 
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--clr-primary-400);
  border-left: 1px solid var(--clr-primary-400);
  vertical-align: middle;
}

th:first-child
,td:first-child {
  border-left: 0;
}

/* id components */
#skip-link {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 9999;
}

#skip-link a {
  padding: 0.2em 0.5em !important;
}

.visually-hidden.visually-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
}

