<figure{{ with .Get "class-" }} class="{{ . }}"{{ end }} style="--space: 0.4rem; ">
    <div{{ with .Get "class" }} class="{{ . }}"{{ end }} style="--min: 17rem">
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
            {{ $alt := ( split ( .Get "alt") ", " ) }}
        {{- with ( .Get "src" ) -}}
            {{- range $i, $e := ( split . ", " ) -}}
                {{ partial "helpers/picture-responsive.html" (dict
                    "src" .
                    "alt" (index $alt $i)
                ) }}
            {{- end -}}
        {{- end -}}
 <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
</div>
    {{- if .Get "caption" -}}
        <figcaption>
                {{- .Get "caption" | markdownify -}}
        </figcaption>
    {{- end }}
</figure>