<ul class="flow h2">
    {{ $all := where .Site.Pages "Section" ( i18n "products") }}
    {{ range $all}}
        {{ range where .Pages.ByTitle "Params.order_form" "eq" true }}
            <li id="{{ anchorize .LinkTitle }}">
                    <div class="flow">
                        {{ .Title }}
                        <ul class="clean-list p">
                            {{ with (.Resources.Match "forms/*.pdf") | union (.Resources.Match "forms/*.doc") | union (.Resources.Match "forms/*.docx")  }}
                                {{ range . }}
                                <li><a href="{{ .RelPermalink }}" download>{{- if (in .MediaType.Suffixes "pdf") -}}<img class="icon" src="/images/icons/pdf-file.svg" alt="">{{- else if (intersect .MediaType.Suffixes (slice "doc" "docx")) -}}<img class="icon"  src="/images/icons/word-file.svg" alt="">{{- end -}}{{- replace .Name "forms/" "" -}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                        <!-- <div class="flow">
                            <a href="{{ (printf "%s/" ( relLangURL (i18n "guides"))) }}{{ lower .Title }}">Så här fyller du i blanketten</a>
                            <a href="{{ .RelPermalink }}">Till produktsidan</a>
                        </div> -->
                    </div>
            </li>
        {{ end }}
    {{ end }}
    {{ $other := where .Site.Pages "Section" "blanketter" }}
    {{ range $other}}
        <li id="{{ anchorize .LinkTitle }}">
            <div class="flow">
                {{ strings.FirstUpper (i18n "other") }}
                <ul class="clean-list p">
                    {{ with (.Resources.Match "*.pdf") | union (.Resources.Match "*.doc") | union (.Resources.Match "*.docx")  }}
                        {{ range . }}
                        <li><a href="{{ .RelPermalink }}" download>{{- if (in .MediaType.Suffixes "pdf") -}}<img class="icon" src="/images/icons/pdf-file.svg" alt="">{{- else if (intersect .MediaType.Suffixes (slice "doc" "docx")) -}}<img class="icon"  src="/images/icons/word-file.svg" alt="">{{- end -}}{{- .Name -}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </li>
    {{ end }}
</ul>