<div class="flow" style="margin-top:7rem;">
    <h2>Andra produkter</h2>
    <ul class="grid" style="--min:10rem;">
        <li style="background-color: rgb(75, 19, 128);">
            <div class="card card-link">
                <a class="inline-block" href="">
                    <div class="card-content-box flow">
                        <div>
                            <img src="/images/utp.jpg" alt="">
                        </div>
                        <h2>Utrymningsplan</h2>
                        <p>Vi ritar utrymningsplaner i både 2D och 3D.</p>
                    </div>
                </a>
            </div>
        </li>
        <li style="background-color: rgb(152, 202, 187);">
            <div class="card card-link">
                <a class="inline-block" href="">
                    <div class="card-content-box flow">
                        <div>
                            <img src="/images/utp.jpg" alt="">
                        </div>
                        <h2>3D</h2>
                        <p>Vi ritar utrymningsplaner i både 2D och 3D.</p>
                    </div>
                </a>
            </div></li>
        <li style="background-color: rgb(64, 226, 43);">
            <div class="card card-link">
                <a class="inline-block" href="">
                    <div class="card-content-box flow">
                        <div>
                            <img src="/images/utp.jpg" alt="">
                        </div>
                        <h2>Utrymningsplan</h2>
                        <p>Vi ritar utrymningsplaner i både 2D och 3D.</p>
                    </div>
                </a>
            </div>
        </li>
        <li><a href="">Se alla produkter</a></li>
    </ul>
</div>