<div class="alternate-column switcher">
    <div class="text flow">
        {{ .Inner | markdownify }}
    </div>
    <div class="image">
        {{- if .Get "image" -}}
            {{- if eq (.Get "image") "hans-jonasson-vd-ritkonsult.png" -}}
                <img style="margin: 0 auto" src="/images/{{- .Get "image" -}}" alt="Hans Jonasson">
            {{- else -}}
                {{ partial "helpers/picture-responsive.html" (dict 
                    "src" ( .Get "image")
                    "alt" ( .Get "alt")
                ) }}
            {{- end -}}
        {{- end -}}
    </div>
</div>