

{{ if .Params.card }}
<li id="{{ anchorize .LinkTitle }}" class="symbol-card card {{ cond (ne .Params.card_color nil) .Params.card_color "" }}">
  <div class="symbol-card-image-box">
    <!-- test -->
    <div style="background-color: #1b1b1b; position: absolute; box-shadow: 0 0 .6em rgba(0,0,0,.18); margin: -3px 0 0 -3px">
      <p style="padding: .2em .8em; font-size: 1.25rem; color: white;">{{ .Weight }}</p>
    </div>
    <!-- test end -->
    {{ if .Params.symbol_image}}
      {{ partial "helpers/picture-responsive.html" (dict 
          "src" .Params.symbol_image 
          "alt" .Title
      ) }}
    {{ end }}
  </div>
  <div class="card-content-box">
    <h2 class="">
          {{- if .Params.sym_letter -}}{{- .Params.sym_letter  -}}{{- end -}}{{ .Title }}
      </h2>
      {{ .Content}}
  </div>
</li>
{{ else }}
<li {{ if ne .Parent.Params.list_class nil }} class="{{- .Parent.Params.list_class -}}"{{ end }}>
        <a id="{{ anchorize .LinkTitle }}" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ if .Params.banner.image}}
    <img src="{{ .Params.banner.image }}" alt="{{ .Params.banner.image_alt }}" loading="lazy">
    {{ end }}
    {{ .Params.banner.subline }}
</li>
{{ end }}