{{ define "main" }}
    {{ $sym := slice }}
        <div class="wrapper flow">
            <h1 id="main-content"  class="hero">{{ .Title }}</h1>
            <p class="h1-tag">{{ strings.FirstUpper  (i18n "printable_version") }}</p>

            <button onclick="window.print()" class="hide-on-print btn outline">{{ strings.FirstUpper  (i18n "print_this_page") }}</button>

        {{ if .Content }}
            {{ .Content }}
        {{ end }}
        
            <!-- <ul class="gap-big-list flow"> -->
                {{ range (cond (ne .Params.by_weight false) .Pages.ByWeight .Pages.ByTitle) }}
                    {{ with .Params.skip_in_full_guide_print }}
                    {{ else }}
                <!-- <li id="{{ anchorize .LinkTitle }}" class="symbol-card card {{ cond (ne .Params.card_color nil) .Params.card_color "" }}"> -->
                        {{ if eq .Params.print_last true}}
                            {{ $sym = $sym | append . }}
                        {{ else }}
                            <article class="flow print {{ if .Params.print_full }}full-page-print{{ end }}">
                                <h1 class="">
                                    {{ .Title }}
                                </h1>
                                <!-- {{ .Content}} -->
                                {{ .Content | replaceRE "hide-on-print-full-guide" "hide-on-print hide" | safeHTML }}
                                    {{ if eq .BundleType "branch"}}
                                        {{ $sym = . }}
                                    {{ end }}
                                
                            </article>
                        {{ end }}
                      
                  <!-- </li> -->
                      {{ end }}
                {{ end }}
            <!-- </ul> -->
            {{ range $sym }}
            <article class="flow print {{ if .Params.print_full }}full-page-print{{ end }}">
                <h1 class="">
                    {{ .Title }}
                </h1>
            {{ .Content | replaceRE "hide-on-print-full-guide" "hide-on-print" | safeHTML }}
                {{ if eq .BundleType "branch"}}
                    <div class="sym-table">
                        <!-- Ranges through content/posts/*.md -->
                        {{ range .Pages }}
                        {{ if .Params.card }}
                                    <div>
                                        <div>
                                            {{ .Weight }}{{- if .Params.sym_letter -}}{{- .Params.sym_letter  -}}{{- end -}}
                                        </div>
                                        <div>
                                            {{ if .Params.symbol_image}}
                                                {{ partial "helpers/picture-responsive.html" (dict 
                                                    "src" .Params.symbol_image 
                                                    "alt" .Title
                                                ) }}
                                            {{ end }}
                                        </div>
                                        <div>
                                            {{ .Title }}
                                        </div>
                                    </div>
                        {{ end }}
                    {{ end }}
                    {{ end }}
                </article>
            {{ end }}
            </div>
    </div>
{{ end }}